* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: hsl(0deg, 0%, 95%);
}

#calculator {
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(0deg, 0%, 15%);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}
#calculator #display {
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  border: none;
  outline: none;
  background-color: hsl(0deg, 0%, 20%);
  color: white;
}
#calculator #keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}
#calculator #keys .action {
  background-color: #ff7e47;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#calculator #keys .action:hover {
  background-color: hsl(35deg, 100%, 45%);
}
#calculator #keys .action:active {
  background-color: hsl(35deg, 100%, 60%);
}
#calculator #keys .action .delete {
  width: 50px;
  height: 50px;
}
#calculator #keys button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  background-color: hsl(0deg, 0%, 30%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}
#calculator #keys button:hover {
  background-color: hsl(0deg, 0%, 40%);
}
#calculator #keys button:active {
  background-color: hsl(0deg, 0%, 50%);
}