* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, sans-serif;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: hsl(0, 0%, 95%);
}

#calculator {
  font-family: Arial, sans-serif;
  background-color: hsl(0, 0%, 15%);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
  #display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    outline: none;
    background-color: hsl(0, 0%, 20%);
  }
  #keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
    .action {
      background-color: #ff7e47;
      &:hover {
        background-color: hsl(35, 100%, 45%);
      }
      &:active {
        background-color: hsl(35, 100%, 60%);
      }
    }

    button {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      border: none;
      background-color: hsl(0, 0%, 30%);
      color: white;
      font-size: 3rem;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        background-color: hsl(0, 0%, 40%);
      }
      &:active {
        background-color: hsl(0, 0%, 50%);
      }
    }
  }
}
